body {
  background: #222229;
  font-size: 25px;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.game {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2% auto;
}

.target {
  border: none;
  border-radius: 25px;
  width: 40%;
  padding: 1% 0;
  margin: 3% 0;
  text-align: center;
  font-size: 45px;
  color: #272932;
  background: #a6c0e7;
  display: inline-block;
}

.challenge-numbers {
  width: 85%;
  margin: 1rem auto;
  text-align: center;
}

.number {
  border: thin solid lightgray;
  background: #d3cecd;
  color: #272932;
  border-radius: 25px;
  padding: 0.5% 0;
  width: 35%;
  font-size: 36px;
  text-align: center;
  margin: 1rem 5%;
  display: inline-block;
}

.footer {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.timer-value {
  color: #4eb34e;
  font-size: 2rem;
}

.play-again,
.start {
  width: 200px;
  height: 50px;
  border: none;
  background: #505461;
  color: #ffc952;
  border-radius: 25px;
  margin-top: 7px;
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
}

.play-again:hover,
.start:hover {
  cursor: pointer;
  color: #f7e0ae;
}

button:focus {
  outline: none;
}
